@import './utils/variables';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: 100%;
  display: grid;
  justify-items: center;
  background-color: $light-gray;
  font-family: $karla-font;
  font-size: 16px;
}
