.price-component {
    &__presentation {
      background-color: #fff;
      padding: 30px;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      & .presentation {
        &__title {
          @include card-color-margin($cyan);
        }
        &__guarantee {
          @include card-color-margin($bright-yellow);
        }
        &__content {
          @include card-color-margin($grayish-blue);
          width: 80%;
          line-height: 1.8rem;
        }
      }
    }
    &__price-section {
      background-color: $cyan;
      padding: 30px;
      display: flex;
      flex-direction: column;
      gap: 1.2rem;

      & .price-section {
        &__title {
          @include card-color-margin(#fff);
        }

        &__info {
          @include card-color-margin(#fff);
          & .price {
            font-size: 2rem;
          }
          & .precision {
            margin-left: 10px;
            color: hsla(0, 0%, 100%, 0.5);
          }
        }

        &__explanation {
          @include card-color-margin(hsla(0, 0%, 100%, 0.7));
        }

        &__signup-btn {
          width: 70%;
          margin: auto;
          padding: 10px;
          background-color: $bright-yellow;
          border: none;
          border-radius: 5px;
          color: #fff;
        }
      }
    }
    &__why-us {
      background-color: lighten($cyan, 5%);
      padding: 30px;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      & .why-us {
        &__title {
          @include card-color-margin(#fff);
        }
        &__argument-list {
          list-style-type: none;
          @include card-color-margin(hsla(0, 0%, 100%, 0.6));
          display: flex;
          flex-direction: column;
          gap: 0.3rem;
        }
      }
    }
  }