&__price-section {
  background-color: $cyan;
  border-radius: 0 0 0 10px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;

  & .price-section {
    &__title {
      @include card-color-margin(#fff);
    }

    &__info {
      @include card-color-margin(#fff);
      & .price {
        font-size: 2rem;
      }
      & .precision {
        margin-left: 10px;
        color: hsla(0, 0%, 100%, 0.5);
      }
    }

    &__explanation {
      @include card-color-margin(hsl(0, 0%, 100%));
    }

    @import './signup-btn';
  }
}
