&__why-us {
  background-color: lighten($cyan, 5%);
  border-radius: 0 0 10px 0;
  padding: 30px;
  @include flex-column-gap;
  & .why-us {
    &__title {
      @include card-color-margin(#fff);
    }
    &__argument-list {
      list-style-type: none;
      @include card-color-margin(hsla(0, 0%, 100%, 0.6));
      @include flex-column-gap(0.3rem);
    }
  }
}
